<mat-nav-list>
    <a (click)="closeSidenav()" mat-list-item routerLink="/login" *ngIf="!(isAuth$ | async)">
        <mat-icon>
            input
        </mat-icon>
        <span class="side-nav--span">Login</span>
        </a>
    <a (click)="closeSidenav()" mat-list-item routerLink="/signup" *ngIf="!(isAuth$ | async)">
    <mat-icon>
        face
    </mat-icon>
    <span class="side-nav--span">Sign Up</span>
</a>
    <a (click)="closeSidenav()" mat-list-item routerLink="/training" *ngIf="isAuth$ | async">
        <mat-icon>
            fitness_center
        </mat-icon>
        <span class="side-nav--span">Training</span>
    </a>
        <mat-list-item>
            <button (click)="onLogout()" mat-icon-button *ngIf="isAuth$ | async">
                <mat-icon>eject</mat-icon>
                <span class="side-nav--span">Logout</span>
            </button>
        </mat-list-item>
        
</mat-nav-list>