<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="toggleSidenavFunc()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">LOGO</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px">
            <li><a routerLink="/login" *ngIf="!(isAuth$ | async)">Login</a></li>
            <li><a routerLink="/signup" *ngIf="!(isAuth$ | async)">signup</a></li>
            <li><a routerLink="/training" *ngIf="isAuth$ | async">Training</a></li>
            <li><a (click)="onLogout()" *ngIf="isAuth$ | async">Logout</a></li>
        </ul>        
    </div>
</mat-toolbar>

